# Python packaging

# Build artifacts
*.egg-info/
build/
dist/

# Bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual environments
.venv/
env/
venv/

# Other
READMEPyPi.md
reinstall
